on:
  pull_request:
    branches: [main]
    paths:
      - "**/*.go"
      - "go.*"
  push:
    branches: [main]
    paths:
      - "**/*.go"
      - "go.*"
  workflow_dispatch:
  
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5

    - name: Test
      uses: robherley/go-test-action@v0
